<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>pZXmMCOxwTfVJ9QFQV5NPI+XDT8OftnmYIGlfXfGDCn29nNR9uGgcg2MTkTfTaPo/NAo79ppNaipLW0NRgJik74KKFRbiqx2/SMh/QZMnjk6Q1WqRF6vZSCiTJ6qWJtKdoy0PQeNu35v9OucHa8+YE/1QPMBYkCobJhCRHYBEchGPznxRXf+SxDoCl26PtoZiZk+Z+G+knukbPRU1gD9VrrjxzcdTJUr5KIo3udi1XH7+HFl5YFV8ruh1O+dwHrw29OXlQD593egCyPE8jXGfsUdlABDAq/csFTQX0rwto74/3nm3NAP4GmaqeT7Ue/BVsdax2F8TtaoexPfG7C8sA==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>T8gPj0iY7SLqFM528xcrfOy6iOEUcH4qBkQppm1NCg9Z7tGUeol/8v9L0O7ia9kZaIVzylDcNWEIna2JczXFYUk9AFG5p2vkL8IAYHidNKZi72exug97UpAB+xd4v1ObNOocHTwDvfFd8f18l4qR/sFah2LfRbFuaeeWDyu0GL9xl1cJQ9c27l4VonAOpl1kWWv4bZAHv1zenYmxIy59Ol3yqdEYkD5nABiujXtNai/ltSSoKRRimteBIK9WPGGm</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>