<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>kY+gJNtrQgpe6u2HXNQMQXOYzWQjd2jGpMiHDIGFs5GItxVwyG0LAe2BaLA12tEoX75nh7XbrzV6ixNa21RBV2Pw7udbC6qQjxngCuRW1ikG01/wQMympKpWnuY1A/PcJGcv7q20/bK1CxI0NxMcKCxvxmwAcrb1YF5BILXUGzhAp10OULwbmSZoMw3iyDOhoOqPJynGJNgU6CZBMiKKe/STNpUQqxhCOm2oq/Ync0lbuFBvVWvlxm9IYIst+xNZkKSl6Q9t0c4GgfSbtSJraZqSbxVyZnYzDOAsaKHUrOIs1oiTunPc9t8rO5mNl0AMreZ0TKgVLfj9Od89cXh9MQ==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>+5T45pTpkbCUg5qFYCpAxkRt7tb9lVtFCpCvIu36nfvMrl0spr8hGNw+/rVqm7JmDVw7nelR3NOAbNbjWInDmWQVGYAkD4GLmjXXcOAruN9Ie3xTiAiDD31yCnfEGHX6gN8dUyw6XMSD16WYzGp7AEFUfxHxJoYFww7jh03VzJof5k4NIbGbbwwFCEJFrSE856+hi7AbUMefS78m/dV3BGQdlTNpNbCMBGqJJWpC9jj2zkLdBb++dtH6hPQKhEGTQN6hyaAsXI28l151ZJXCpRc8m+KKjZ9Tfj4Ch2HXBYAjZ3ScA1hHKrbUITJwmkLtMe36PUQppvXkAPSjipJybKAk99k9zfuyWU3YLIIVXmSVJ4vMrJ+NNX4O8nwEYJXxvnxzeTey6c2Mhy2QIK8iz4oWXMcCd73GRkoI/GRq4k9IZjvA7K4Ter1pxLMXlWbx</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>